<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="love.celery"/>

    <context:annotation-config/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="driverClass" value="${jdbc.driver}"/>
            <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?zeroDateTimeBehavior=convertToNull&amp;characterEncoding=utf8"/>
            <property name="user" value="root"/>
            <property name="password" value="root"/>
            <property name="minPoolSize" value="${jdbc.miniPoolSize}"/>
            <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
            <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
            <property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>
            <property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>
            <property name="maxConnectionAge" value="20000"/>
            <!--<property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}"/>-->
            <!--<property name="acquireRetryDelay" value="${jdbc.acquireRetryDelay}"/>-->
            <property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}"/>
            <!--<property name="checkoutTimeout" value="${jdbc.checkoutTimeout}"/>-->
            <property name="maxIdleTimeExcessConnections" value="${jdbc.maxIdleTimeExcessConnections}"/>
            <property name="testConnectionOnCheckin" value="false"/>
            <property name="testConnectionOnCheckout" value="true"/>
        </bean>


    <bean id="improvedNamingStrategy" class="org.hibernate.cfg.ImprovedNamingStrategy"/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="love.celery.model"/>
        <property name="namingStrategy" ref="improvedNamingStrategy"/>
        <property name="entityInterceptor">
            <bean class="love.celery.model.base.TimestampInterceptor"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl_auto}</prop>-->
            </props>
        </property>
    </bean>

    <bean id="txManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="bizMethods" expression="execution(* love.celery.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods"/>
    </aop:config>
    <aop:config>
        <aop:pointcut id="baseBizMethods" expression="execution(* love.celery.service.base.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="baseBizMethods"/>
    </aop:config>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean id="jsonHttpMessageConverter"
                      class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                    <!--<property name="objectMapper" ref="customObjectMapper" />-->
                </bean>

                <bean id="formHttpMessageConverter"
                      class="org.springframework.http.converter.FormHttpMessageConverter"/>

                <bean id="stringHttpMessageConverter"
                      class="org.springframework.http.converter.StringHttpMessageConverter"/>
            </list>
        </property>
    </bean>



    <bean id="taskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="20"/>
        <property name="maxPoolSize" value="20"/>
        <property name="WaitForTasksToCompleteOnShutdown" value="true"/>
    </bean>



</beans>
